*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
API_DOCUMENTATION.md
HUONG_DAN_TEST.md
ALERT_TYPES_EXPLANATION.md
API_DOCUMENTATION_v2.md
BACKEND_ADD_LOCATION_TO_END_TRIP.md
BACKEND_FIX_TIMER_EXPIRED_LOGIC.md
FIX_MYSQL_CORRUPTION.md
FIX_QUEUE_CACHE.md